{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block title %}
    {% endblock %}
    <!-- Example navigation bar HTML that you can integrate into your base.html -->
<nav class="main-nav">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'job_list' %}">Job Listings</a>
    <a href="{% url 'clients' %}">Clients</a>
    <a href="{% url 'our_services' %}">Services</a>
    
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">My Profile</a>
        <a href="{% url 'log_out' %}">Logout</a>
    {% else %}
        <a href="{% url 'log_in' %}">Login</a>
        <a href="{% url 'sign_up' %}">Sign Up</a>
    {% endif %}
</nav>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>